<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <title>Express test</title>
    <p>Deze applicatie is een labo opdracht die hoort bij het vak webontwikkeling</p>
</header>
<body>
    
</body>
</html>